.chat-container .header {
    color: #fff;
    background-color: #037BFE;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    
}
.chat-container  .conversation-title {
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .conversation-detail {
    display: flex;
    flex-direction: column;
}
.chat-container .list-messages {
    flex-grow: 1;
    overflow-y: auto;
}
#send-message-form {
    padding: 22px 15px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}
#send-message-form input {
    border: none;
    outline: none;
    width: 100%;
}
#send-message-form .btn {
    position: absolute;
    right: 10px;
    bottom: 14px;
}
.chat-container {
    height: 100vh;
}
.chat-container .main {
    height: calc(100vh - 64px);
    display: flex;
}
.chat-container .conversation-detail {
    height: 100%;
    width: 85%;
}
.list-messages .message .message-content {
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
}
.list-messages .message.message-mine {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.list-messages {
    padding: 10px;
}
.list-messages .message.message-mine .message-content {
    background-color: #037BFE;
    color: #fff;
}
.chat-container .aside-left {
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}
.chat-container .create-conversation {
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .aside-left .conversation {
    padding: 10px;
    cursor: pointer;
}
.chat-container .conversation.current {
    background-color:  #dbdbdb;
    
}