.chat-container .header {
    color: #fff;
    background-color: #037BFE;
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    
}
.chat-container  .conversation-title {
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .conversation-detail {
    display: flex;
    flex-direction: column;
}
.chat-container .list-messages {
    flex-grow: 1;
    overflow-y: auto;
}
#send-message-form {
    padding: 22px 15px;
    position: relative;
    border-top: 1px solid #dbdbdb;
}
#send-message-form input {
    border: none;
    outline: none;
    width: 100%;
}
#send-message-form .btn {
    position: absolute;
    right: 10px;
    bottom: 14px;
}
.chat-container {
    height: 100vh;
}
.chat-container .main {
    height: calc(100vh - 64px);
    display: flex;
}
.chat-container .conversation-detail {
    height: 100%;
    width: 70%;
}
.list-messages .message .message-content {
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    max-width: 45%;
    width: max-content;
}
.list-messages .message.message-mine {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.list-messages {
    padding: 10px;
}
.list-messages .message.message-mine .message-content {
    background-color: #037BFE;
    color: #fff;
    word-break: break-all;
}
.chat-container .aside-left {
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}
.chat-container .create-conversation {
    height: 64px;
    text-align: center;
    line-height: 64px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .aside-left .conversation {
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.chat-container .conversation.current {
    background-color:  #dbdbdb;
    
}
.chat-container .aside-right {
    width: 15%;
    height: 100%;
    border-left: 1px solid #dbdbdb;
}
.chat-container .notification {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 21px;
    display: none;
}
@media only screen and (max-width: 768px) {
    .chat-container .aside-right {
        display: none;
    }
    .chat-container .conversation-detail {
        width: 85%;
    }
    .chat-container .conversation .num-of-user {
        display: none;
    }
   .chat-container .conversation {
       border-radius: 50%;
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid #dbdbdb;
       margin: auto;
       margin-bottom: 10px;
   }
   .chat-container .conversation:first-child {
       margin-top: 10px;
   }
}